body{
    margin: 50px;
    padding: 20px;
    background-color: peachpuff;
    color: DarkMagenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4em;
    text-align: center;
}
.border-1{
    padding: 20px;
    border: solid deeppink;
    border-bottom-width: 10px;
    border-top-width: 10px;  
}
.border-2{
    padding: 20px;
    border: 5px dashed goldenrod;
}
.border-3{
    padding: 20px;
    border: 12px groove lightseagreen;
}
.border-4{
    padding: 20px;
    border: 5px dotted darkturquoise;
}
.border-5{
    margin: 0 auto;
    padding: 20px;
    width: 35%;
    border: 10px dotted coral;
}  
.footer{
    margin: 0 auto;
    width: 45%;
    border: 1px solid black;
}
.navigation li {
    display: inline;
}
@media (min-width: 768px){ 
    body {background-color:CornflowerBlue;
          color:white;
          font-size: 26px;
          line-height: 1.5;
    }
}
@media (min-width: 1024px){ 
    body {background-color:black;
          color:white;
          font-size: 32px;
          line-height: 2.0;
    }
}